body{
	margin:0;
	font-family: sans-serif;
	background-color: #dddddd;
}

*{
	box-sizing: border-box;
}

.container{
	max-width: 1300px;
	background-color: #ffffff;
	height:auto;
	margin:30px auto;
	padding:20px;
}



h1{
    font-size:26px;
    margin:5px;
  }

  h2{
	font-size:24px;
	
}
  
  h3{
    font-size:22px;
    margin:5px;  
  }

  h4{
    font-size:21px;
	margin:5px;  
}

  
  p{
    font-size:20px;
    margin:5px;  
  }

.clear{
	clear: both;
}

/*header*/


   
.navbar {
    overflow: hidden;
    background-color: #ffffff;
    
  }
  
  .navbar a {
    float: right;
    font-size: 16px;
    color: #abcf0c;
    
    padding: 14px 16px;
    text-decoration: none;
  }

  .dropdown {
    float: right;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: #abcf0c;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: rgb(199, 194, 194);
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

  

.logo img{
    
    width: 150px;
    float: left;
}  



/*Section1*/

   .section1{
    float:left;
    width: 100%;
    background-color:rgb(233, 229, 229); 
    text-align: center;
    padding:10px 10px;
    margin-bottom:10px;
   }

   .section1 .content{
	float:right;
	width: 100%;
}

.section1 .content .left{
	width: 30%;
	float: left;
	padding:5px 10px;
    text-align: justify;

}
.section1 .content .left .card{
	padding:100px 15px;
	font-size:30px;
	color:rgb(7, 7, 7);
	background-color: #ffffff;
}

.m {
    padding: 3px;
}

.m li{

    display: inline-block;
    font-size: 10px;
    text-align: justify;
    margin-left: 0px;
    padding-inline-start: 2px;

  
    }

.section1 .content .left .card .btn {
    color: #ffffff;
    background:  #d6ea28;
    text-decoration: none;
    font-size: 16px;
    padding: 8px;
    border-radius: 4px;

  }

  .section1 .content .right{
	width: 70%;
	float: left;
	padding: 10px 10px;
}
.section1 .content .right .card{
	padding:100px 15px;
	font-size:30px;
	color:rgb(31, 31, 34);
	background-color: rgb(10, 47, 140);
	margin-bottom:20px;
}

/*Section2*/

   .section2{
    float:left;
    width: 100%;
    background-color:#abcf0c; 
    text-align: center;
    padding:20px 10px;
    margin-bottom:20px;
   }

   .section2 .btn {
    color: #ffffff;
    background:  #d6ea28;
    text-decoration: none;
    font-size: 16px;
    padding: 8px;
    border-radius: 4px;
    margin: auto;
    
  }

   .section2 .content{
	float:left;
	width: 100%;
	margin-top:10px;
}

.section2 .content .card{
    width:25%;
    float: left;
    padding:0px 10px;
}
.section2 .content .card .box{
    background-color:rgb(230, 224, 224);
    font-size:30px;
    text-align: left;
    color:rgb(16, 15, 15);
    padding:30px 15px;
}

.section2 .content .card .box img{
    float: left;}

      
.section2 .content .card .box .btn {
        color: #ffffff;
        background:  #d6ea28;
        text-decoration: none;
        font-size: 16px;
        padding: 8px;
        border-radius: 4px;
        position: bottom;
      }

/*Section3*/

    .section3{
        float:left;
        width: 100%;
        background-color:#1e1b1b; 
        text-align: center;
        padding:20px 10px;
        margin-bottom:20px;
       }

    .section3 h1{

        color:rgb(230, 224, 224);
    }
        

    .section3 .content{
        float:left;
        width: 100%;
        margin-top:10px;
        text-align: left;
    }
    
    .section3 .content .card{
        width:50%;
        float: left;
        padding:0px 10px;
    }
   
    .section3 .content .card .box{
        background-color:rgb(230, 224, 224);
        font-size:30px;
        text-align: justify;
        color:rgb(16, 15, 15);
        padding:40px 15px;
        margin-left: 20px;
    }

    .section3 .content .card .box img{
        float: left;}

    .section3 .content .card .box .btn {
            color: #ffffff;
            background: #d6ea28;
            text-decoration: none;
            font-size: 16px;
            padding: 8px;
            border-radius: 4px;
          }

   /*Footer*/

          footer{
            float:left;
            width: 100%;
            background-color:rgb(10, 47, 140); 
            text-align: center;
            padding:20px 30px;
            text-decoration: none;
           }

        .c li{
        display: inline-block;
      
        }

        .c li a{
            padding: 10px;
            color:rgb(230, 224, 224);
            font-size: 16px;
            text-decoration: none;
            padding:10px 10px;
            }

         .s {
            float: right;
            align: center;
            list-style: none;
            margin: 0 auto;
            }
            
        .s li{
        display: inline-block;
    }
        .s li a{
        text-decoration: none;
                }
    
   


